<html lang="en">
    <%- include("../partials/header.ejs") %>
    
    <body class="is-light" style="margin-left: 10%; margin-right: 10%;"> 
    
    <style>
            .card-container{
                display: flex; 
                justify-content: space-evenly;  
                flex-wrap: wrap;
                align-items: flex-start;
            }
    
            .card-request-ownership{
                width:380px;
                padding:10px;
                margin: 10px;
                box-shadow: 0px 0px 20px 2px lightgrey;
                height: 540px;
            }

            .button-style{
                /* width: 80px; */
                background-color: #f80000; 
                color: white; 
                padding: 6px 12px; 
                border-style: none; 
                border-radius: 2px;
            }
    </style>

    <%- include("../partials/nav.ejs") %>

    <div class="card-container">
        <div class="card-request-ownership" >
            <form method="POST">
                <div class="control">
                    <label style="font-weight: 600; font-size: large;">Register a product with Version Assist</label>
                </div>
                <div>
                    <input class="input" type="text" placeholder="Product Name" style=" margin: 10px 0px;" id="product_name" name="product_name">   
                </div>
                <div class="control" >
                    <button class="button is-primary" style="background-color: #f80000;" type="submit" formaction="/administrate/add-products"> Add Product </button>
                </div>
                <hr class="navbar-divider">
                <div class="control">
                    <label style="font-weight: 600; font-size: large;">Existing Products</label> 
                </div>
                <div style="height: 350px;overflow-y:scroll;">
                <% for(var i = 0; i < product_list.length; i++) {%>
                    <div style="font-weight:300; font-size: medium;"> ✓


 <%= product_list[i].name %> </div>
                <% } %>
                </div>
            </form>
        </div>
 
        <div class="card-request-ownership" >
            <form method="POST">
                <div class="control">
                    <label style="font-weight: 600; font-size: large;">Add New Administrator To Version Assist</label> 
                </div>
                <div>
                    <input class="input" type="email" placeholder="Email" style=" margin: 10px 0px;" id="admin_email" name="admin_email"> 
                </div>
                <div class="control" >
                    <button class="button is-primary" style="background-color: #f80000;" type="submit" formaction="/administrate/add-admin">Add Admin</button>
                </div>
                <hr class="navbar-divider">
                <div class="control">
                    <label style="font-weight: 600; font-size: large;">Existing Admins</label> 
                </div>
                <div style="height: 350px;overflow-y:scroll;">
                <% for(var i = 0; i < admin_list.length; i++) {%>
                    <div style="font-weight:300; font-size: medium;"> ✓


 <%= admin_list[i].email %> </div>
                <% } %>
                </div>
            </form>
        </div>

        <div class="card-request-ownership">
            <div style="font-weight: 600; font-size: large;">Requests To Become Product Manager</div>
            <hr class="navbar-divider">
            <div style=" height: 480px;overflow-y:scroll;">
                <% for(var i = 0; i < request_list.length; i++) {%>
        
                <form method="POST">
                    <div>
                        <div style="font-weight: 600; font-size: large;"> <%= request_list[i].product %></div> 
                        <div style="font-weight:300; font-size: small;"> <%= request_list[i].name %> </div>
                        <div style="font-weight:300; font-size: small;"> <%= request_list[i].email %> </div>
                        <input type="hidden" name="product" value="<%= request_list[i].product %>"/>
                        <input type="hidden" name="email" value="<%= request_list[i].email %>"/>
                    </div>
                    <div style="margin-top: 4px;">
                        <div style=" display: inline-block;">
                            <button class="button-style" style="background-color: #45d74a;" type="submit" formaction="/administrate/approve-manager">Approve</button>
                        </div>
                        <div style=" display: inline-block;">
                            <button class="button-style" type="submit" formaction="/administrate/decline-manager">Decline</button>
                        </div>

                    </div>
                    
                    <hr class="navbar-divider">
                </form>  
        
                <% } %>
            </div>
        </div>

        <div class="card-request-ownership" >
            <form method="POST">
                <div class="control">
                    <label style="font-weight: 600; font-size: large;">Register New Platform To Version Assist</label>
                </div>
                <div>
                    <input class="input" type="text" placeholder="Platform Name" style=" margin: 10px 0px;" id="platform_name" name="platform_name">   
                </div>
                <div class="control" >
                    <button class="button is-primary" style="background-color: #f80000;" type="submit" formaction="/administrate/add-platforms"> Add Platform </button>
                </div>
                <hr class="navbar-divider">
                <div class="control">
                    <label style="font-weight: 600; font-size: large;">Existing Platform</label> 
                </div>
                <div style="height: 350px;overflow-y:scroll;">
                <% for(var i = 0; i < platform_list.length; i++) {%>
                    <div style="font-weight:300; font-size: medium;"> ✓


 <%= platform_list[i].name %> </div>
                <% } %>
                </div>
            </form>
        </div>
 
        <div class="card-request-ownership" >
            <form method="POST">
                <div class="control">
                    <label style="font-weight: 600; font-size: large;">Register New PeopleTools Version To VA</label>
                </div>
                <div>
                    <input class="input" type="text" placeholder="PeopleTools Version" style=" margin: 10px 0px;" id="tools_name" name="tools_name">   
                </div>
                <div class="control" >
                    <button class="button is-primary" style="background-color: #f80000;" type="submit" formaction="/administrate/add-tools"> Add PeopleTools Version </button>
                </div>
                <hr class="navbar-divider">
                <div class="control">
                    <label style="font-weight: 600; font-size: large;">Existing PeopleTools Version</label> 
                </div>
                <div style="height: 350px;overflow-y:scroll;">
                <% for(var i = 0; i < release_list.length; i++) {%>
                    <div style="font-weight:300; font-size: medium;"> 
                        ✓
                        <%= release_list[i].toolsVersion %> 
                    </div>
                <% } %>
                </div>
            </form>
        </div>

        <div class="card-request-ownership" >
            <form method="POST">
                <div class="control">
                    <label style="font-weight: 600; font-size: large;">Add New Build To PeopleTools Version</label>
                </div>         
                <div class="field has-addons" style=" margin: 10px 0px;">
                    <div class="control">
                        <input class="input" type="text" placeholder="Build" id="build_name" name="build_name">
                    </div>
                    <div class="control">
                      <div class="select">
                        <select id="tools_version" name="tools_version" class="has-background-light" onchange="showBuilds()">
                            <option disabled hidden selected value="default"> Select Product Version </option>
                            <% for(var i = 0; i < release_list.length; i++) { %>
                                <% var j = i + 1 %>
                                <% if( release_list[i].toolsVersion === filter_tools) {%>
                                    <option selected value="<%= release_list[i].toolsVersion%>+<%= j %>"><%= release_list[i].toolsVersion%></option>
                                <%} else {%>
                                    <option value="<%= release_list[i].toolsVersion%>+<%= j %>"><%= release_list[i].toolsVersion%></option>
                                <%} %>
                            <% } %>  
                        </select>
                      </div>
                    </div>
                </div>

                <div class="control" >
                    <button id="getBuilds" class="button is-primary" style="background-color: #f80000; display: none;" type="submit" formaction="/administrate/pre-add-builds"> Get Builds </button>
                </div>

                <div class="control" >
                    <button class="button is-primary" style="background-color: #f80000;" type="submit" formaction="/administrate/add-builds"> Add Build </button>
                </div>
                <hr class="navbar-divider">

                <div class="control">
                    <label style="font-weight: 600; font-size: large;">Existing Build under <%= filter_tools %></label> 
                </div>
                <div style="height: 350px;overflow-y:scroll;">
                <% for(var i = 0; i < build_list.length; i++) {%>
                    <div style="font-weight:300; font-size: medium;"> 
                        ✓
                        <%= build_list[i] %>
                    </div>
                <% } %>
                </div>

            </form>
        </div>

    </div>


    
    <%- include("../partials/footer.ejs") %>
    </body> 
    <script>
        function showBuilds(){
            document.getElementById('getBuilds').click();
        }
    </script>
</html>
