<html lang="en">
    <head>
    <%- include("../partials/header.ejs") %>
    <link rel="stylesheet" type="text/css" href="/css/defineRelationship.css">
    </head>
    
    <body class="is-light" style="margin-left:10%;margin-right:10%;"> 

    <%- include("../partials/nav.ejs") %>
    
    <div class="block tab-container">

        <section class="hero is-danger hero-style" >
            <nav class="tabs tabs is-toggle is-fullwidth is-normal">
                <div class="container">
                    <ul>
                        <li class="tab"><a href="/configure/">Index</a></li>
                        <li class="tab" ><a href="/configure/ownership">Ownership</a></li>
                        <li class="tab" ><a href="/configure/product">Product Version</a></li>
                        <li class="tab is-active" ><a href="/configure/define">Define Relationship</a></li>
                        <li class="tab" ><a href="/configure/account">Account Settings</a></li>
                        </ul>
                </div>
            </nav> 
        </section>
 
        <div class="container section" style="padding: 30px;">

            <div id="defineRelationship" class="content-tab">
                <form method="POST">
                    <div style="position: relative;">
                        <p class="border-text">Add a new version</p>
                        <div class="dropbox-container">
                            <div >
                                <div class="key is-normal">
                                    Product:
                                </div>
                                <div class="select is-normal ib">
                                    <select id="product" name="product" onchange="clickButton()">
                                        <option disabled hidden selected value="default"> Select Product </option>
                                        <% for(var i = 0; i < owned.length; i++) { %>
                                            <option><%= owned[i]%></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>   

                            <div >
                                <div class="key is-normal">
                                    Tools Version:
                                </div>
                                <div class="select is-normal ib">
                                    <select id="toolsVersion" name="toolsVersion" onchange="clickButton()">
                                        <option disabled hidden selected value="default"> Select Tools Version </option>
                                        <% for(var i = 0; i < tools.length; i++) { %>
                                            <option><%= tools[i].toolsVersion %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>   

                            <div >
                                <button id="confirmSelectionButton" class="button red-bg" type="submit" formaction="/configure/define/redirect" style="display: none;">Confirm Selection</button>
                            </div>  
                        
                        </div>
                    </div>
                </form>     
            </div>

        </div>
            
                
    </div> 


    <%- include("../partials/footer.ejs") %>
    <script src="/js/defineRelationship.js"></script>
    </body>
</html>