<html lang="en">
    <head>
    <%- include("../partials/header.ejs") %>
    <link rel="stylesheet" type="text/css" href="/css/productHistory.css">
    </head>
    
    <body class="is-light" style="margin-left:10%;margin-right:10%;"> 

    <%- include("../partials/nav.ejs") %>

    <p class="title"> History of version changes in <%= filter_product %></p>
    <table id="historyTable" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th onclick="sortTable(0)">Product <lord-icon src="https://cdn.lordicon.com/rvuqcvqy.json" trigger="hover" colors="primary:#000000,secondary:#000000" stroke="100" class="sort-icon-style"></lord-icon> </th>
                <th onclick="sortTable(1)">Platform <lord-icon src="https://cdn.lordicon.com/rvuqcvqy.json" trigger="hover" colors="primary:#000000,secondary:#000000" stroke="100" class="sort-icon-style"></lord-icon> </th>
                <th onclick="sortTable(2)">Tools Release <lord-icon src="https://cdn.lordicon.com/rvuqcvqy.json" trigger="hover" colors="primary:#000000,secondary:#000000" stroke="100" class="sort-icon-style"></lord-icon> </th>
                <th onclick="sortTable(3)">From Tools Build <lord-icon src="https://cdn.lordicon.com/rvuqcvqy.json" trigger="hover" colors="primary:#000000,secondary:#000000" stroke="100" class="sort-icon-style"></lord-icon> </th>
                <th onclick="sortTable(4)">Product Version <lord-icon src="https://cdn.lordicon.com/rvuqcvqy.json" trigger="hover" colors="primary:#000000,secondary:#000000" stroke="100" class="sort-icon-style"></lord-icon> </th>
                <th onclick="sortTable(5)">Changes <lord-icon src="https://cdn.lordicon.com/rvuqcvqy.json" trigger="hover" colors="primary:#000000,secondary:#000000" stroke="100" class="sort-icon-style"></lord-icon> </th>
                <th></th>
            </tr>
        </thead>
        <tbody> 
            <% for(var i = 0; i < history.length; i++) { %>  
            <tr>
                <td><%= history[i].product %></td>
                <td><%= history[i].platform %></td>
                <td><%= history[i].toolsRelease %></td>
                <td><%= history[i].build %></td> 
                <td><%= history[i].version %></td>  
                <%  if( history[i].action === 'Support') {%>
                    <td style="color: rgb(31, 180, 31);"><%= history[i].action %></td>  
                <%} else if(history[i].action === 'Deprecate'){%>
                    <td style="color: #f80000"><%= history[i].action %></td>  
                <%} %>  
                    
                <form method="POST">
                    <td>
                        <input type="text" name="historyId" value="<%= history[i]._id %>" hidden>
                        <button class="is-large has-tooltip-arrow" style="background: transparent;border: None;" data-tooltip="Delete" type="submit">
                            <lord-icon
                                src="https://cdn.lordicon.com/gsqxdxog.json"
                                trigger="morph"
                                colors="primary:#000000,secondary:#000000"
                                state="morph-trash-in"
                                stroke="100"
                                class="table-icon-style">
                            </lord-icon>
                        </button>
                    </td>
                </form>                 
            </tr> 
            <% } %>                
        </tbody>
    </table>
    <div>
        <button class="button red-bg" onclick="history.back()">
            <i class="fa fa-arrow-left" style="margin-right: 4px;"></i>
            Back
        </button>
    </div> 
    <%- include("../partials/footer.ejs") %>
    <script src="/js/productHistory.js"></script>
    </body>

</html>