<html lang="en">
    <%- include("../partials/header.ejs") %>
    
    <body class="is-light" style="margin-left: 10%; margin-right: 10%;"> 
    
    <%- include("../partials/nav.ejs") %>
    

    <p class="title"> History of version changes in <%= filter_product %> in <%= filter_platform %></p>
    <table id="historyTable" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th onclick="sortTable(0)">Product <lord-icon src="https://cdn.lordicon.com/rvuqcvqy.json" trigger="hover" colors="primary:#000000,secondary:#000000" stroke="100" style="width:20px;height:14px"></lord-icon> </th>
                <th onclick="sortTable(1)">Platform <lord-icon src="https://cdn.lordicon.com/rvuqcvqy.json" trigger="hover" colors="primary:#000000,secondary:#000000" stroke="100" style="width:20px;height:14px"></lord-icon> </th>
                <th onclick="sortTable(2)">Tools Release <lord-icon src="https://cdn.lordicon.com/rvuqcvqy.json" trigger="hover" colors="primary:#000000,secondary:#000000" stroke="100" style="width:20px;height:14px"></lord-icon> </th>
                <th onclick="sortTable(3)">From Tools Build <lord-icon src="https://cdn.lordicon.com/rvuqcvqy.json" trigger="hover" colors="primary:#000000,secondary:#000000" stroke="100" style="width:20px;height:14px"></lord-icon> </th>
                <th onclick="sortTable(4)">Product Version <lord-icon src="https://cdn.lordicon.com/rvuqcvqy.json" trigger="hover" colors="primary:#000000,secondary:#000000" stroke="100" style="width:20px;height:14px"></lord-icon> </th>
                <th onclick="sortTable(5)">Changes <lord-icon src="https://cdn.lordicon.com/rvuqcvqy.json" trigger="hover" colors="primary:#000000,secondary:#000000" stroke="100" style="width:20px;height:14px"></lord-icon> </th>
            </tr>
        </thead>
        <tbody> 
            <% for(var i = 0; i < history.length; i++) { %>  
            <tr>
                <td><%= history[i].product %></td>
                <td><%= history[i].platform %></td>
                <td><%= history[i].toolsRelease %></td>
                <td><%= history[i].build %></td> 
                <td><%= history[i].version %></td>  
                <% if( history[i].action === 'Support') {%>
                    <td style="color: rgb(31, 180, 31);"><%= history[i].action %></td>  
                <%} else {%>
                    <td style="color: #f80000"><%= history[i].action %></td>  
                <% } %>                 
            </tr> 
            <% } %>                
        </tbody>
    </table>
    <div>
        <button class="button" onclick="history.back()" style="background-color: #f80000; color: white;" >
            <i class="fa fa-arrow-left" style="margin-right: 4px;"></i>
            Back
        </button>
    </div> 
    <%- include("../partials/footer.ejs") %>
    </body>
    <script>

        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("historyTable");
            switching = true;
            dir = "asc"; 
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    shouldSwitch= true;
                    break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                    }
                }
                }
                if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount ++;      
                } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
                }
            }
        }
    </script>
</html>